<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">

    <display-name>SanddragonItemViewer</display-name>

	<context-param>
		<param-name>Server</param-name>
		<param-value>http://localhost:8080/</param-value>
	</context-param>

	<context-param>
		<param-name>ViewerServer</param-name>
		<param-value>SanddragonItemViewer/</param-value>
	</context-param>

	<context-param>
		<param-name>ImageMetadataServer</param-name>
		<param-value>SanddragonImageService/</param-value>
	</context-param>

	<context-param>
		<param-name>ImageServer</param-name>
		<param-value>SanddragonImageService/</param-value>
	</context-param>
		
	<context-param>
		<param-name>WidgetServer</param-name>
		<param-value>SanddragonWidget/</param-value>
	</context-param>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
